#barbershopBody{
    background-color: #f6f6f6;
}

#barbershopHeader{
    background-color: #000000;
    border-radius: 0 0 30px 30px;
    position: relative;
}

#barbershopHeader div{
    display: inline-block;
}

#shirimeLogo{
  width: 20%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: right;
  font-size: 80%;
}

#titleBarbershop{
  width: 80%;
  text-align: center;
  position: absolute;
  padding: 0.6rem 0;
  font-size: 150%;
}

#barbershopBody h1, #barbershopBody h2, #barbershopBody h3, #barbershopBody thead, #barbershopNav{
    text-transform: uppercase;
    font-family: 'Rye', cursive;
}
#barbershopBody h1, #barbershopBody h2{
    color: #ffffff;
}

#barbershopBody h3{
    color: #000000;
    font-size: 120%;
    margin: 1em;
    font-weight: bold;
}

#barbershopBody{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#barbershopContent{
    padding-top: 2rem;
    padding-bottom: 6rem;
    line-height: 1.5;
    font-size: 70%;
}

#barbershopMain h1{
    font-size: 300%;
    background-color: #851944;
    color: #FAFFFA;
    text-align: center;
    font-family: "Open Sans Condensed";
    padding: 1.25rem;  /*REM é relativo ao tamanho padrão da fonte, e EM ao tamanho da fonte do elemento */
    border-bottom: 0.5rem solid #000000;
}

#barbershopMain{
    clear:both;
    width: 100%;
}

#barbershopNav{
    height: 1.3em;
    box-sizing: border-box;
    background-color: #db9356;
    border-radius: 0 0 30px 30px;
}

#barbershopNav a{
    text-decoration: none;
    text-transform: lowercase;
    color: #000000;
}

#barbershopNav a:hover{
    text-decoration: underline overline;
}

#barbershopNav ul{
    width: 100%;
}

#barbershopNav ul li{
    width: 24.5%;
    display: inline-block;
    text-align: center;
    font-size: 0.7em;
}
