#servicesTableDiv {
    width: 70%;
    margin: auto;
}

#servicesTable > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    line-height: .8em;
}

#servicesTable {
    border-collapse: separate;
    border-spacing: 0.25em;
    text-align: center;
}

#servicesTable td, #servicesTable th {
    padding: 1em;
}

#servicesTable th, #servicesTable thead td {
    color: #FFFFFF;
}

#servicesTable thead th, #servicesTable thead td {
    background-color: #000000;
}
#servicesTable tbody th {
    background-color: #db9356;
}

#servicesTable td {
    background-color: #EEE;
}

#servicesTable thead tr {
    height: 5em;
}

#servicesTable thead th {
    width: 55%;
}

#priceTitle, #timeLengthTitle {
    width: 20%;
}

.btnAddService, .btnRemoveService, .btnEditService {
    border: 0 solid #0000ff;
}

.btnAddService, .btnRemoveService {
    font-weight: bold;
    color: #FFF;

}

.btnRemoveService {
    background-color: #FF0000;
    border-radius: 10px;
}

.btnAddService {
    background-color: #00B32C;
    width: 100%;
    height: 100%;
}

.btnEditService {
  border-radius: 10px;
  font-size: 1em;
}

#serviceRegistration {
    float: left;
    background-color: #D3D3D3;
    width: 25%;
    position: relative;
    padding-bottom: 6em;
}

.saveCancel {
    padding-top: 2em;
    display: inline-block;
}

#btnCancelServiceRegistration {
    position: absolute;
    left: 15%;
}

#btnSaveServiceRegistration {
    position: absolute;
    right: 15%;
}

.floatRight {
    float: right;
}

.showAndFloatLeft {
    display: inline;
    float: right;
}

.hide {
    display: none;
}
