#indexTitle {
  font-family: 'Rye', cursive;
  color: #ffffff;
  margin-top: 0;
  padding-top: 3rem;
}

#indexHeader {
  text-align: center;
  background-color: #000000;
  margin-top: 0;
}

#indexHeader, .indexSection {
  border-bottom: 0.3rem solid #db9356;
}

#indexTitle {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight:normal;
}

#indexSubtitle {
  padding-bottom: 1rem;
  color: #ffffff;
}
