/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modalTitle {
  font-family: 'Rye', cursive;
  margin: 0;
}

/* Modal Window */
.modalWindow {
    background-color: #f6f6f6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    overflow: auto;
}

.modalContent {
  font-size: 70%;
}

/* The Close Button */
.modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#chooseUserType ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
}
#chooseUserType li{
  margin-top: 1rem;
}

#chooseUserType button{
  font-size: 150%;
  font-family: 'Rye', cursive;
  width: 80%;
  padding: 0.6rem;
  color: #ffffff;
  background-color: #000000;
}

#chooseUserType button:hover{
  color: #db9356;
}

#authenticationError {
  color:#C0392B;
}
#authenticationError, .signupLink{
  margin-left: calc(15% - 0.4em);
}

#barberForm {
  height: 80vh;
  overflow: scroll;
}

#btnSignIn {
  background-color: #db9356;
  border-radius: 10px;
  position: absolute;
  width: 5%;
  top: 5px;
  right: 5px;
  border: 0 solid #0000ff;
  color: #000000;
  padding: 10px;
}
